.eventLobby-main-container {
    margin: 5%;
    min-height: 420px;
}

.eventLobby-container {

    margin: 0 20px 0 20px ;
    width: 50%;
    min-height: 100%;
    height:fit-content;
    background: rgb(255, 255,255, 0.7);
    padding: 2%;
    border-radius: 10px;
    transition: transform .2s; /* Animation */
}
    .eventLobby-container:hover {
        transform: scale(1.1); /* (150% zoom)*/
    }


    
