.sponsorhall-main-container {
    padding: 5%;
    min-height: 420px;
}

.sponsorhall-container {
    margin: 0 20px 0 20px;
    width: 50%;
    min-height: 100%;
    height: fit-content;
    background: rgb(255, 255,255, 0.7);
    padding: 2%;
    border-radius: 10px;
}

.sponsor_hall {
    background: url('/src/assets/img/sponsor_hall.jpg');
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    align-items: center;
}

.featured_sponsor_background {
    opacity:0.8;
}

.sponsor_title {
    color: black;
    font-size: 2vw;
    font-weight: bold;
}

.featured_sponsor_info {
    margin-bottom: -12%;
    position: relative;
    transform: translateY(-220%);
    text-align: center;
}

.featured_sponsor_text {
    color: white;
    font-size: 4vw;
    font-weight: bold;
}

.featured_sponsor_about_us {
    margin-top: 2%;
    position: relative;
    
}
