.login-main-container{
  margin: 5%;
  min-height: 420px;
}

.login-form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 30%;
    background: rgb(255, 255,255, 0.7);
    padding: 2rem;
    padding-right: 0;
    border-radius: 10px;
}
.login-form-container span{
 color: red;
}

.form-input{
  padding: 8px 24px;
  border-radius: 2px;
  margin-right: 10px;
  font-size: 18px;
  margin-bottom: 16px;
  border: none;
  width: 90%;


}

.submit-btn {
    padding: 12px 64px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    background: #75AD42;
    color: white;
    font-weight: 600;
    margin-bottom: 1rem;
}

.submit-btn:hover{
  background: #ffd700;
}

label{
  color: #000;
}

h3{
  text-align: center;
  margin-bottom: 10px;
}

@media screen and (max-width: 960px){
  
  .login-form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 50%;
  background:#fff;
  padding: 2rem;
  padding-right: 0;
}



}