  .row-username p{
    font-size: 30px;
    color:white;
    margin:1%;
    font-weight: bold;
    }

  .edit-button {
      border-radius: 10px;
      width:180px;
      width: 180px;
  }
  
  .wrapper{
    height: 100%;
    min-height: 500px;
  }
  .wrapper .row{
	  background-color: white;
  }
  
  .wrapper .col-sm-3 {
  background-color:#41484f;
  min-height: 500px;
  }

  .wrapper .col-sm-3 .nav-item:hover{
    background-color: #fafe10;
  }
  
  .nav-item a:active{
    background-color: none !important;
  }

.nav {
    margin-top: 10px;
}
  .tab-content{
    margin: 2%;
  }
  .tab-content .edit{
	  float: right;
	  padding-right: 15px;
  }
  
  .tab-content ul{
	  list-style-type: none;
  
  }
  
  .tab-content img{
	  height: 100px;
	  widows: 100px;
  }
  
  
  .footer-wrapper{
	  position: relative;
	  bottom: -100px;
	  width: 100%;
  
  }
  
  .sec-container{
	  display: block;
	  max-height: 100%;
  }

  .btn-group a{
    margin-right: 10%;
  }


  .hide{
    display:none;
  }